django
djangorestframework
django-cors-headers
django-axes
django-csp
djangorestframework-simplejwt
dj-database-url
psycopg2-binary
gunicorn
whitenoise
python-dotenv
google-generativeai
Pillow
python-magic
requests
joblib
pandas
scikit-learn
PyPDF2
cloudinary
django-cloudinary-storage
